/* Self-hosted Simplified Chinese subsets, cut to the drink names and ingredients.
   Licences, sources and the rebuild script are in fonts/detail/.
   block: names wait briefly for their face instead of jumping from a fallback. */
@font-face{font-family:'Swei Spring Sugar SC';font-weight:400;font-display:block;src:url(fonts/detail/SweiSpringSugarSC-Regular.woff?v=2) format('woff')}
@font-face{font-family:'Swei Spring Sugar SC';font-weight:300;font-display:block;src:url(fonts/detail/SweiSpringSugarSC-Light.woff?v=2) format('woff')}
@font-face{font-family:'Ma Shan Zheng';font-weight:400;font-display:block;src:url(fonts/detail/MaShanZheng.woff?v=1) format('woff')}
@font-face{font-family:'Source Han Serif CN';font-weight:300;font-display:block;src:url(fonts/detail/SourceHanSerifCN-Light.woff?v=2) format('woff')}
@font-face{font-family:'Caveat';font-weight:400;font-display:block;src:url(fonts/detail/Caveat.woff?v=1) format('woff')}
@font-face{font-family:'Cormorant Garamond';font-style:italic;font-weight:500;font-display:block;src:url(fonts/detail/Cormorant-Italic.woff?v=1) format('woff')}
